<div id="<%= dom_id message %>">
  <p>
    <strong>Title:</strong>
    <%= message.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <p>
    <strong>Image:</strong>
    <% message.image.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

</div>
