<h1>Articles</h1>


Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <!-- <a href="<%= article_path(article) %>"> -->
        <!--   <%= article.title %> -->
        <!-- </a> -->
        <%= link_to article.title, article %>
      </li>
    <% end %> 
  <% end %>
</ul>

<footer>
<div>
  <%= link_to "New Article", new_article_path %>
  | <%= link_to "Home", root_path %>
</div>
</footer>






<!-- <form> -->
<!--   <div class="grid-container"> -->
<!--     <div class="grid-x grid-padding-x"> -->
<!--       <div class="medium-6 cell"> -->
<!--         <label>Input Label -->
<!--           <input type="text" placeholder=".medium-6.cell"> -->
<!--         </label> -->
<!--       </div> -->
<!--       <div class="medium-6 cell"> -->
<!--         <label>Input Label -->
<!--           <input type="text" placeholder=".medium-6.cell"> -->
<!--         </label> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </form> -->
