<%= form_with model: instruction  do |form| %>

  <div>
    <%= form.label :soumission_reglementaire, style: "display: block" %>
    <%= form.check_box :soumission_reglementaire %>
  </div>

  <div>
    <%= form.label :enjeu_biodiversite, style: "display: block" %>
    <%= form.text_area :enjeu_biodiversite %>
  </div>

  <div>
    <%= form.label :enjeu_patrimoine, style: "display: block" %>
    <%= form.text_area :enjeu_patrimoine %>
  </div>

  <div>
    <%= form.label :enjeu_ressources, style: "display: block" %>
    <%= form.text_area :enjeu_ressources %>
  </div>

  <div>
    <%= form.label :synthese, style: "display: block" %>
    <%= form.text_area :synthese %>
  </div>




  
  <div>
    <%= form.hidden_field :demand_id, :value => @demand.id %>
    <%= form.submit %>
  </div>
<% end %>
