
<h1>Demande : origine</h1>

<%= render instruction.demand %>

<h1>Instruction : suivi</h1>

<div id="<%= dom_id instruction %>">
  <p>
    <strong>Soumission reglementaire:</strong>
    <%= instruction.soumission_reglementaire %>
  </p>

  <p>
    <strong>Enjeu biodiversite:</strong>
    <%= instruction.enjeu_biodiversite %>
  </p>

  <p>
    <strong>Enjeu patrimoine:</strong>
    <%= instruction.enjeu_patrimoine %>
  </p>

  <p>
    <strong>Enjeu ressources:</strong>
    <%= instruction.enjeu_ressources %>
  </p>

  <p>
    <strong>Synthese:</strong>
    <%= instruction.synthese %>
  </p>

  <p>
    <strong>User:</strong>
    <%= instruction.user_id %>
  </p>

</div>
