<p style="color: green"><%= notice %></p>


<h1>Instructions</h1>

<div id="instructions">
  
  

  <table>
    <% @instructions.each do |instruction| %>  
    <tr>
      <td><%= instruction.demand.id %></td>
      <td><%= instruction.demand.commune %></td>
      <td><%= instruction.demand.parcelle_section %> - <%= instruction.demand.parcelle_numero %></td>
      <td><%= instruction.soumission_reglementaire %></td>
      <td><%= instruction.synthese %></td>
      <td><a href="<%= instruction_path(instruction) %>">Voir</a></td>
    </tr>
    <% end %>
  </table>
  

</div>

<p> link_to "New instruction", new_instruction_path </p>
