<h1>Demande : origine</h1>

<%= render @demand %>

<h1>New instruction</h1>

<%= render "form", instruction: @instruction %>

<br>

<div>
  <%= link_to "Back to instructions", instructions_path %>
</div>
