<p style="color: green"><%= notice %></p>


<%= render @instruction %>

<div>
  <%= link_to "Valider cette instruction", new_instruction_endstep_path(@instruction) %> |
  <%= link_to "Back to instructions", instructions_path %>

  <%= button_to "Destroy this instruction", @instruction, method: :delete %>
</div>
