<h1>Users</h1>


<ul>
  <% @users.each do |user| %>
      <li>
        <%= user.username %>
	<%= user.role %>
      </li>
  <% end %>
</ul>





<footer>
<div>
  <%= link_to "Home", root_path %>
</div>
</footer>
