<div id="<%= dom_id fiche_category %>">
  <p>
    <strong>Fiche:</strong>
    <%= fiche_category.fiche_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= fiche_category.category_id %>
  </p>

</div>
