<%= form_with(model: fiche_category) do |form| %>
  <% if fiche_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fiche_category.errors.count, "error") %> prohibited this fiche_category from being saved:</h2>

      <ul>
        <% fiche_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fiche_id, style: "display: block" %>
    <%= form.text_field :fiche_id %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
