<h1>Editing fiche category</h1>

<%= render "form", fiche_category: @fiche_category %>

<br>

<div>
  <%= link_to "Show this fiche category", @fiche_category %> |
  <%= link_to "Back to fiche categories", fiche_categories_path %>
</div>
