<p style="color: green"><%= notice %></p>

<h1>Fiche categories</h1>

<div id="fiche_categories">
  <% @fiche_categories.each do |fiche_category| %>
    <%= render fiche_category %>
    <p>
      <%= link_to "Show this fiche category", fiche_category %>
    </p>
  <% end %>
</div>

<%= link_to "New fiche category", new_fiche_category_path %>
