<p style="color: green"><%= notice %></p>

<%= render @fiche_category %>

<div>
  <%= link_to "Edit this fiche category", edit_fiche_category_path(@fiche_category) %> |
  <%= link_to "Back to fiche categories", fiche_categories_path %>

  <%= button_to "Destroy this fiche category", @fiche_category, method: :delete %>
</div>
