<div id="<%= dom_id demand %>">
  <p>
    <strong>Nom:</strong>
    <%= demand.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= demand.prenom %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= demand.mail %>
  </p>

  <p>
    <strong>Commune:</strong>
    <%= demand.commune %>
  </p>

  <p>
    <strong>Parcelle section:</strong>
    <%= demand.parcelle_section %>
  </p>

  <p>
    <strong>Parcelle numero:</strong>
    <%= demand.parcelle_numero %>
  </p>

  <p>
    <strong>User:</strong>
    <%= demand.user_id %>
  </p>

  <div style="background-color:chartreuse;">
    <p>
      <strong>Instruction:</strong>
      <% if demand.instruction %>
        <% if demand.instruction.endstep %>
          <% if demand.instruction.endstep.validation %>
	   La décision explicite et validée.
          <% else %>
	   La validation est en attente.
          <% end %>
        <% else %>
	 L'instruction est en cours
        <% end %>
      <% else %>
         L'instruction en attente.
      <% end %>
    </p>
  </div>
  
</div>
