<%= form_with(model: demand) do |form| %>
  <% if demand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
        <% demand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom , :value => current_user.username%>
  </div>

  <div>
    <%= form.label :prenom, style: "display: block" %>
    <%= form.text_field :prenom %>
  </div>

  <div>
    <%= form.label :mail, style: "display: block" %>
    <%= form.text_field :mail, :value => current_user.email %>
  </div>

  <div>
    <%= form.label :commune, style: "display: block" %>
    <%= form.text_field :commune %>
  </div>

  <div>
    <%= form.label :parcelle_section, style: "display: block" %>
    <%= form.text_field :parcelle_section %>
  </div>

  <div>
    <%= form.label :parcelle_numero, style: "display: block" %>
    <%= form.number_field :parcelle_numero %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
