<p style="color: green"><%= notice %></p>

<h1>Demands</h1>

<div id="demands">
  <table>
    <% @demands.each do |demand| %>
    <tr>
      <td>
	<%= demand.id %>
      <td>
      <td>
	<%= demand.commune %>
      <td>
      <td>
	<%= demand.parcelle_section %> - <%= demand.parcelle_numero %>
      <td>
      <td>
	      <% if demand.instruction %>
        <% if demand.instruction.endstep %>
          <% if demand.instruction.endstep.validation %>
	   La décision explicite et validée.
          <% else %>
	   La validation est en attente.
          <% end %>
        <% else %>
	 L'instruction est en cours
        <% end %>
      <% else %>
         L'instruction non affectée.
      <% end %>
	</td>
      <td>
	<%= link_to "Show this demand", demand %>
      </td>
      
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "New demand", new_demand_path %>
