<p style="color: green"><%= notice %></p>

<%= render @demand %>

<div>
  <%= link_to "Instruire cette demande", new_demand_instruction_path(@demand) %> |
  <%= link_to "Back to demands", demands_path %>

  <%= button_to "Destroy this demand", @demand, method: :delete %>
</div>


