<div class="fr-grid-row fr-grid-row--gutters">
  
  <div class="fr-col-12">

    <p class="fr-pt-md-14v"></p> 
    <p>Application exploratoire.</p>


    
    <div data-controller="carousel" style="background-color:silver;">

      <!-- Conteneur principal pour le carrousel -->
      <div class="carousel-container">
	
	<!-- Élément carrousel -->
	<div class="carousel">
          <!-- Conteneur interne pour les diapositives -->
          <div class="carousel-inner">
            <!-- Première diapositive -->
            <div class="slide">
              <!-- Image de la première diapositive -->
	      <%= image_tag "carousel/template-evalpro-1.png" %>
            </div>
            <!-- Deuxième diapositive -->
            <div class="slide">
              <!-- Image de la deuxième diapositive -->
	      <%= image_tag "carousel/template-evalpro-2.png" %>
            </div>
            <!-- Troisième diapositive -->
            <div class="slide">
              <!-- Image de la troisième diapositive -->
	      <%= image_tag "carousel/template-evalpro-3.png" %>
            </div>
            <!-- Quatrième diapositive -->
            <div class="slide">
	      <%= image_tag "carousel/template-evalpro-4.png" %>
            </div>
            <!-- Quatrième diapositive -->
            <div class="slide">

            </div>
          </div>
	</div>
	
	<!-- Conteneur pour les boutons de navigation -->
	<div class="carousel-controls">
          <!-- Bouton pour passer à la diapositive précédente -->
          <button id="prev"><span class="fr-icon-arrow-left-s-fill fr-icon--lg" aria-hidden="true"></span></button>
          <!-- Bouton pour passer à la diapositive suivante -->
          <button id="next"><span class="fr-icon-arrow-right-s-fill fr-icon--lg" aria-hidden="true"></span></button>
	</div>

      </div> <!-- fin carousel -->

      <!-- Conteneur pour les points de navigation -->
      <div class="carousel-dots"></div>
    </div>
    
    <p class="fr-pt-md-14v"></p> 
    <p>Accéder à l'interrogation des parcelles <%= link_to "choisir la parcelle", map_path %></p>
    <p class="fr-pt-md-14v"></p> 
    
    <% if user_signed_in? %>
    <% if current_user.demandeur? %>
    <div style="background-color:pink;">
      <ul>
        <li><%= link_to "Liste des demandes ...", demands_path %></li>
        <li><%= link_to "Créer une nouvelle demande ...", new_demand_path %></li>
      </ul>
    </div>
    <% end %>
    <% if current_user.instructeur? %>
    <div style="background-color:#BDBED3;">
      <ul>
        <li><%= link_to "Liste des demandes sans instruction ...", demands_path  %></li>
        <li><%= link_to "Liste de mes instructions ...", instructions_path  %></li>  
      </ul>
    </div>
    <% end %>
    <% if current_user.valideur?%>
    <div style="background-color:#CDCEE9;">
      <ul>
        <li><%= link_to "Liste des instructions non assignées...", instructions_path  %></li>
        <li><%= link_to "Ma liste de validations ...", endsteps_path  %></li>  
      </ul>
    </div>
    <% end %>
    <% if current_user.superviseur?%>
    <div style="background-color:#DAC2AA;">
      <ul>
        <li><%= link_to "Liste des demandes...", demands_path  %></li>
        <li><%= link_to "Liste des instructions...", instructions_path  %></li>
        <li><%= link_to "Liste des validations ...", endsteps_path  %></li>  
      </ul>
    </div>
    <% end %>          
    <% end %>
    
    
  </div>

</div>

