


<ul>
  <li>
    <a href="">

    </a>
  </li>
  <li>
    <a href="https://nokogiri.org/">
      https://nokogiri.org/
    </a>
  </li>
  <li>
    <a href="https://duckduckgo.com/?t=ftsa&q=ruby+interface&atb=v355-1&ia=web">
      https://duckduckgo.com/?t=ftsa&q=ruby+interface&atb=v355-1&ia=web
    </a>
  </li>
  <li>
    <a href="https://morningcoffee.io/interfaces-in-ruby.html">
      https://morningcoffee.io/interfaces-in-ruby.html
    </a>
  </li>
  <li>
    <a href="">

    </a>
  </li>
  <li>
    <a href="">

    </a>
  </li>
  <li>
    <a href="">

    </a>
  </li>
</ul>
