

<%= render endstep.instruction %>

<h1>Validation : étape finale</h1>

<div id="<%= dom_id endstep %>">
  <p>
    <strong>Validation:</strong>
    <%= endstep.validation %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= endstep.observation %>
  </p>

  <p>
    <strong>User:</strong>
    <%= endstep.user_id %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= endstep.instruction_id %>
  </p>

</div>
