
<%= form_with(model: endstep, url: instruction_endsteps_path) do |form| %>

  <div>
    <%= form.label :validation, style: "display: block" %>
    <%= form.check_box :validation %>
  </div>

  <div>
    <%= form.label :observation, style: "display: block" %>
    <%= form.text_field :observation %>
  </div>

  <div>
    <%= form.hidden_field :instruction_id, :value => @instruction.id  %>
    <%= form.submit %>
  </div>
<% end %>



