<p style="color: green"><%= notice %></p>

<h1>Endsteps</h1>

<div id="endsteps">


  <table>
    <% @endsteps.each do |endstep| %> 
    <tr>
      <td><%= endstep.instruction.demand.id %></td>
      <td><%= endstep.instruction.demand.commune %></td>
      <td>
	<%= endstep.instruction.demand.parcelle_section %>
	-
	<%= endstep.instruction.demand.parcelle_numero %></td>
      
      <td><%= endstep.instruction.soumission_reglementaire %></td>
      <td><%= endstep.instruction.synthese %></td>
      <td><%= endstep.instruction.soumission_reglementaire %></td>
      <td><%= endstep.instruction.synthese %></td>
      <td><%= endstep.instruction.user.username %></td>      

      <td><%= endstep.validation %></td>
      <td><%= endstep.observation %></td>

      <td>
	<p>
	  <strong>Instruction:</strong>
	  <% if endstep.instruction.demand.instruction %>
          <% if endstep.instruction.demand.instruction.endstep %>
          <% if endstep.instruction.demand.instruction.endstep.validation %>
	  La décision explicite et validée.
          <% else %>
	  La validation est en attente.
          <% end %>
          <% else %>
	  L'instruction est en cours
          <% end %>
	  <% else %>
          L'instruction en attente.
	  <% end %>
	</p>
      </td>
      
      <td><a href="<%= endstep_path(endstep) %>">Voir</a></td>
    </tr>
    <% end %>
  </table>

  


</div>


