<h1>Editing fiche tag</h1>

<%= render "form", fiche_tag: @fiche_tag %>

<br>

<div>
  <%= link_to "Show this fiche tag", @fiche_tag %> |
  <%= link_to "Back to fiche tags", fiche_tags_path %>
</div>
