<p style="color: green"><%= notice %></p>

<h1>Fiche tags</h1>

<div id="fiche_tags">
  <% @fiche_tags.each do |fiche_tag| %>
    <%= render fiche_tag %>
    <p>
      <%= link_to "Show this fiche tag", fiche_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New fiche tag", new_fiche_tag_path %>
