<p style="color: green"><%= notice %></p>

<%= render @fiche_tag %>

<div>
  <%= link_to "Edit this fiche tag", edit_fiche_tag_path(@fiche_tag) %> |
  <%= link_to "Back to fiche tags", fiche_tags_path %>

  <%= button_to "Destroy this fiche tag", @fiche_tag, method: :delete %>
</div>
