<div id="<%= dom_id fiche %>">
  <p>
    <strong>Fichier src:</strong>
    <%= fiche.fichier_src %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= fiche.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= fiche.date %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= fiche.banner %>
  </p>

  <p>
    <strong>Facebook author:</strong>
    <%= fiche.facebook_author %>
  </p>

  <p>
    <strong>Infos:</strong>
    <%= fiche.infos %>
  </p>

  <p>
    <strong>Intention:</strong>
    <%= fiche.intention %>
  </p>

  <p>
    <strong>Googlepdf code:</strong>
    <%= fiche.googlepdf_code %>
  </p>

  <p>
    <strong>Googlepdf oriname:</strong>
    <%= fiche.googlepdf_oriname %>
  </p>

</div>
