<%= form_with(model: fiche) do |form| %>
  <% if fiche.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fich.errors.count, "error") %> prohibited this fich from being saved:</h2>

      <ul>
        <% fich.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fichier_src, style: "display: block" %>
    <%= form.text_field :fichier_src %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :banner, style: "display: block" %>
    <%= form.text_field :banner %>
  </div>

  <div>
    <%= form.label :facebook_author, style: "display: block" %>
    <%= form.text_field :facebook_author %>
  </div>

  <div>
    <%= form.label :infos, style: "display: block" %>
    <%= form.text_field :infos %>
  </div>

  <div>
    <%= form.label :intention, style: "display: block" %>
    <%= form.text_field :intention %>
  </div>

  <div>
    <%= form.label :googlepdf_code, style: "display: block" %>
    <%= form.text_field :googlepdf_code %>
  </div>

  <div>
    <%= form.label :googlepdf_oriname, style: "display: block" %>
    <%= form.text_field :googlepdf_oriname %>
  </div>
  
  <div>
    <%= form.label :doc_pdf, style: "display: block" %>
    <%= form.file_field :doc_pdf %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
