<p style="color: green"><%= notice %></p>

  <% @fiches.each do |fiche| %>

  <div class="fr-card fr-enlarge-link fr-card--horizontal fr-card--horizontal-tier">
    <div class="fr-card__body">
      
      <div class="fr-card__content">
	
        <h3 class="fr-card__title">
	    <%= fiche.title %>
        </h3>
	
        <p class="fr-card__desc">
	  <%= fiche.infos %> </br>Intention: <%= fiche.intention %></br><%= fiche.googlepdf_oriname %>
	</p>

        <div class="fr-card__start">
          <ul class="fr-tags-group">
	    <% fiche.categories.each do |category| %>
            <li>
              <p class="fr-tag"><%= category.libelle %></p>
            </li>
	    <% end %>
          </ul>
        </div>

	<div class="fr-card__end">
	  <div class="fr-input-group fr-btns-group--right" id="input-group-3528" style="position: relative;">
	    <a class="fr-btn fr-btn--icon-right  fr-btn--secondary"
	       href="<%= fiche.pdf_url %>"
	       <%= fiche.target_style %>
	       >
	      Continuer la lecture
	    </a>
	  </div>
	</div>
	
      </div>
    </div>
    
    <div class="fr-card__header">
      <div class="fr-card__img">
	<%= image_tag fiche.banner,  class: "fr-responsive-img", alt: "illustration, " + fiche.banner %>	  
      </div>
    </div>
  </div>

  <% end %>
