<p style="color: green"><%= notice %></p>

<%= render @fiche %>

<div>
  <%= link_to "Edit this fiche", edit_fich_path(@fiche) %> |
  <%= link_to "Back to fiches", fiches_path %>

  <%= button_to "Destroy this fiche", @fiche, method: :delete %>
</div>
