
<%= form_with(model: parcelle, url: '/map/search', id: "parcelle_a _etudier") do |form| %>


<fieldset class="fr-fieldset" id="text" aria-labelledby="text-legend text-messages">
  
  <legend class="fr-fieldset__legend" id="text-legend">
    Quelle contraintes environnementales concernent cette parcelle ?
  </legend>

      <p>Remplissez les trois informations suivantes ou utilisez l'entrée cartographique en zoomant et en cliquant sur une parcelle.</p>

      <p>Dans tous les cas pour finaliser, il vous faudra cliquer sur le bouton "lister les contraintes" pour exécuter la requête.</p>
      
      <div class="fr-fieldset__element">
	<div class="fr-select-group">
	    <label class="fr-label" for="select">
	      Commune
	    </label>
	    <select class="" style="width:100%;" aria-describedby="select-messages" id="commune_selector" name="commune_selector">
              <option value="" selected disabled hidden>Précisez la commune</option>
	    </select>
	    <div class="fr-messages-group" id="select-messages" aria-live="polite">
	    </div>
	  </div>
      </div>
      
      <div class="fr-fieldset__element" >
	<div class="fr-input-group" id="input-group-3527" style="display:inline-block;">
	  <%= form.label :section, class:"fr-label", style: "width:4em;"  %>
	  <%= form.text_field :section, class:"fr-input", style: "width:4em;" %>
	  <div class="fr-messages-group" id="text-2-messages" aria-live="polite"></div>
	</div>
	<div class="fr-input-group" id="input-group-3528" style="display:inline-block;">
	  <%= form.label :numero, class:"fr-label"  %>
	  <%= form.text_field :numero, class:"fr-input", style: "width:6em;"%>
	  <div class="fr-messages-group" id="text-3-messages" aria-live="polite"></div>
	</div>
	<label class="fr-label" style="display:inline-block;">selon le cadastre</label>
      </div>
      
      <div class="fr-messages-group" id="text-messages" aria-live="polite">
      </div>

      
      <input type="hidden" name="carte_commune" id="carte_commune">
      <input type="hidden" name="carte_section" id="carte_section">
      <input type="hidden" name="carte_numero"  id="carte_numero">
      <input type="hidden" name="carte_bounds"  id="carte_bounds">
      <input type="hidden" name="carte_geojson" id="carte_geojson">

      <div class="fr-fieldset__element">
	<div class="fr-input-group fr-btns-group--right" id="input-group-3528">
	  <%= form.button "Lister les contraintes", name: "commit",
	      class: "fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line"
	      %>
	</div>
      </div>

</fieldset>


<% end %>


