

<div class="fr-grid-row fr-grid-row--gutters">

  <div class="fr-col-12 fr-col-sm-4 fr-col-md-4 fr-col-lg-4 fr-col-xl-4">
    <div id="component-form-parcelle">
      <%= render "form", parcelle: @parcelle %>
    </div>
  </div>
  

  
  <div class="fr-col-12 fr-col-sm-8 fr-col-md-8 fr-col-lg-8 fr-col-xl-8">
    <div id="component-map-viewer">
      <div data-controller="map"></div>
      <div id="map" style="height:360px;"></div>
      <div id="parcelle-selection-active"
	   data-geojson=""
	   data-bounds=""></div>
    </div>
  </div>

</div>






