



<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">

<p class="fr-pt-md-14v"></p>
<div class="fr-col-8 fr-col-sm-8 fr-col-md-8 fr-col-lg-8 fr-col-xl-8">
  <div data-controller="search">
    <div style="text-align:center;" data-search-target="loading">
      <p>Requête en cours merci de patienter un peu ...</p>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div data-search-target="display">
    </div>
    <input type="hidden" value="<%= CGI.unescape(@flicibip_param) %>" name="flicibip_param" id="flicibip_param"/>
    <input type="hidden" value="<%= @flicibip_info %>" name="flicibip_info" id="flicibip_info"/>
  </div>
</div>

<div class="fr-col-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-12 fr-col-xl-12">
  <div>
    <%= link_to map_path() do %>
    <span class="fr-icon-arrow-go-back-line" aria-hidden="true"></span>Revenir à l'étape de sélection d'une parcelle
    <% end %>
  </div>
</div>

</div>






<% content_for :custom_css do %>
<style>
  .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
  }
  .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #1779ba;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
      0% {
	  transform: scale(0);
      }
      100% {
	  transform: scale(1);
      }
  }
  @keyframes lds-ellipsis3 {
      0% {
	  transform: scale(1);
      }
      100% {
	  transform: scale(0);
      }
  }
  @keyframes lds-ellipsis2 {
      0% {
	  transform: translate(0, 0);
      }
      100% {
	  transform: translate(24px, 0);
      }
  }
</style>
<% end %>


<!--
    <p>https://stackoverflow.com/questions/74424840/how-to-pass-more-than-one-parameters-to-render-in-rails</p>
<p>https://human-se.github.io/rails-demos-n-deets-2020/demo-rendering-data/</p>
<p>https://stackoverflow.com/questions/70606742/rendering-a-view-after-form-submission-not-working-correctly-in-rails-7</p>
<p>https://loading.io/css/</p>
<p>https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest_API/Synchronous_and_Asynchronous_Requests</p>
<p>https://www.rubyguides.com/2019/04/rails-render/</p>
<p>https://stackoverflow.com/questions/2691178/how-to-make-a-div-center-align-in-html</p>
-->

