


<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-8">
      <div data-controller="map"></div>
      <div id="map" style="height:360px;"></div>
      <div id="parcelle-selection-active"
	   data-geojson=""
	   data-bounds=""></div>
    </div>
    <div class="fr-col-3" style="margin-left:1em;">
      <%= render "form", parcelle: @parcelle %>
    </div>

  </div>
</div>




