                <div class="fr-header__tools">
                  <div class="fr-header__tools-links">
                    <ul class="fr-btns-group">

                      <li>
			  <% if user_signed_in? %>
                            <%= link_to "Se déconnecter",
			        destroy_user_session_path, data: { turbo_method: :delete },
			        class:"fr-btn fr-icon-lock-unlock-line" %>
                          <% else %>
                            <%= link_to "Se connecter",
			                new_user_session_path,
				        class:"fr-btn fr-icon-lock-line" %>
                          <% end %>
                      </li>
		      <!--
                      <li>
                        <a class="fr-btn fr-icon-account-line" id="button-8358" href="#[url - à modifier]">
                          S’enregistrer
                        </a>
                      </li>
		      -->
                    </ul>
                  </div>
                </div><!-- class="fr-header__tools -->





