
<button class="fr-btn--close fr-btn" aria-controls="modal-8353" id="button-8359" title="Fermer">
  Fermer
</button>
<div class="fr-header__menu-links">
</div>
<nav class="fr-nav" id="navigation-8355" role="navigation" aria-label="Menu principal">
  <ul class="fr-nav__list">
    <li class="fr-nav__item">
      <button class="fr-nav__btn" aria-expanded="false" aria-controls="collapse-8361">Accueil</button>
      <div class="fr-collapse fr-menu" id="collapse-8361">
        <ul class="fr-menu__list">
	  <li><%= link_to "Qui sommes nous ?", mdpages_path("AboutUs"), class:"fr-nav__link"  %></li>
	  <li><%= link_to "Contact", mdpages_path("contact"), class:"fr-nav__link"  %></li>
	  <li><%= link_to "Déclaration d'accessibilité", mdpages_path("DeclarationAccessibilite"), class:"fr-nav__link"  %></li>
        </ul>
      </div>
    </li>
    <li class="fr-nav__item">
      <button class="fr-nav__btn" aria-expanded="false" aria-controls="collapse-8371">Le projet</button>
      <div class="fr-collapse fr-mega-menu" id="collapse-8371">
        <div class="fr-container fr-container--fluid fr-container-lg">
          <div class="fr-grid-row fr-grid-row-lg--gutters">
            <div class="fr-col-12 fr-mb-n3v">
              <button class="fr-btn--close fr-btn" aria-controls="collapse-8371" id="button-8507" title="Fermer">
                Fermer
              </button>
            </div>
            <div class="fr-col-12 fr-col-lg-3">
              <h5 class="fr-mega-menu__category">
                <a class="fr-nav__link" href="#" target="_self" id="category-8372">L'approche environnementale du projet</a>
              </h5>
              <ul class="fr-mega-menu__list">
                <li><%= link_to "Le contexe du projet", mdpages_path("Approche-environnementale/Contexte"), class:"fr-nav__link"  %></li>
		<li><%= link_to "L'intérêt de la démarche", mdpages_path("Approche-environnementale/Interet-demarche"), class:"fr-nav__link"  %></li>
		<li><%= link_to "L'accès aux données", mdpages_path("Approche-environnementale/Acces-donnees"), class:"fr-nav__link"  %></li>
		<li><%= link_to "Le modalités de mise en oeuvre", mdpages_path("Approche-environnementale/Modalites-mise-en-oeuvre"), class:"fr-nav__link"  %></li>		
	      </ul>
	    </div>
	    <div class="fr-col-12 fr-col-lg-3">
              <h5 class="fr-mega-menu__category">
		<a class="fr-nav__link" href="#" target="_self" id="category-8381">L'environnement au service de l'aménagement</a>
              </h5>
              <ul class="fr-mega-menu__list">
	        <li><%= link_to "Potentialité d'une assiette foncière donnée", mdpages_path("Environnement-amenagement/Potentiel-assiette-fonciere"), class:"fr-nav__link"  %></li>
		<li><%= link_to "Faisabilité d'un projet donné", mdpages_path("Environnement-amenagement/Faisabilite-projet"), class:"fr-nav__link"  %></li>
		<li><%= link_to "Procédures requises et délais", mdpages_path("Environnement-amenagement/Procedures-delais"), class:"fr-nav__link"  %></li>
		<li><%= link_to "Contact utiles", mdpages_path("Environnement-amenagement/Contacts-utiles"), class:"fr-nav__link"  %></li>		
              </ul>
	    </div>
	  </div>
	</div>
      </div>
    </li>
    <li class="fr-nav__item"><%= link_to "Votre demande", mdpages_path("requete"), class:"fr-nav__link"  %></li>
    <li class="fr-nav__item"><%= link_to "Fiches", fiches_path, class:"fr-nav__link"  %></li>
    <li class="fr-nav__item"><%= link_to "FAQ", mdpages_path("faq"), class:"fr-nav__link"  %></li>
    <li class="fr-nav__item"><%= link_to "Contact", mdpages_path("contact"), class:"fr-nav__link"  %></li>

    
    <% if user_signed_in? %>
    <% if current_user.demandeur? %>
    <ul class="fr-nav__list">
      <li class="fr-nav__item"><%= link_to "Mes demandes", demands_path, class:"fr-nav__link" %></li>
      <li class="fr-nav__item"><%= link_to "Nouvelle demande", new_demand_path, class:"fr-nav__link" %></li>
    </ul>
    <% end %>
    <% if current_user.instructeur? %>
    <ul class="fr-nav__list">
      <li class="fr-nav__item"><%= link_to "Demandes", demands_path, class:"fr-nav__link"  %></li>
      <li class="fr-nav__item"><%= link_to "Mes instructions", instructions_path, class:"fr-nav__link"  %></li>  
    </ul>
    <% end %>
    <% if current_user.valideur?%>
    <ul class="fr-nav__list">
      <li class="fr-nav__item"><%= link_to "Instructions", instructions_path, class:"fr-nav__link"  %></li>
      <li class="fr-nav__item"><%= link_to "Mes vallidations", endsteps_path, class:"fr-nav__link"  %></li>  
    </ul>
    <% end %>
    <% if current_user.superviseur?%>
    <ul class="fr-nav__list">
      <li class="fr-nav__item"><%= link_to "Demandes", demands_path, class:"fr-nav__link"  %></li>
      <li class="fr-nav__item"><%= link_to "Instructions", instructions_path, class:"fr-nav__link"  %></li>
      <li class="fr-nav__item"><%= link_to "Validations", endsteps_path, class:"fr-nav__link"  %></li>  
    </ul>
    <% end %>          
    <% end %>
  </ul>
</nav>
