<!doctype html>
<html lang="fr" data-fr-theme>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>EvalPro+</title>
    
    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    
    <link rel="apple-touch-icon" href=<%= asset_path("favicon/apple-touch-icon.png") %>><!-- 180×180 -->
    <link rel="icon" href=<%= asset_path("favicon/favicon.svg") %> type="image/svg+xml">
    <!-- si favicon.ico peut etre placé à la racine du serveur, retirer la ligne ci-dessous -->
    <link rel="shortcut icon" href=<%= asset_path("favicon/favicon.ico") %> type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href=<%= asset_path("favicon/manifest.webmanifest") %> crossorigin="use-credentials">
    <!-- Modifier les chemins relatifs des favicons en fonction de la structure du projet -->
    <!-- Dans le fichier manifest.webmanifest aussi, modifier les chemins vers les images -->

    <%= stylesheet_link_tag "dsfr.main.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "utility/utility.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "carousel", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "select2" %>

    
    <%= yield :special_link_ref %>
    
    <style>
      code[class*="language-"],
      pre[class*="language-"] {
          white-space: pre-wrap;
      }

      .example-controls {
          z-index: 100000;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);
      }

      .example-controls>button {
          position: absolute;
          right: 0;
          top: 0;
      }

      .example-controls__content {
          padding: 16px;
	  background-color: var(--background-elevated-white);
      }

      .example-controls .fr-collapse--expanded~[aria-expanded] {
	  display: none;
      }

      .example-controls .fr-collapse:not(.fr-collapse--expanded)~button:not([aria-expanded]) {
	  display: none;
      }

      .example-controls [class*="-form-group"] {
	  margin-bottom: 0;
      }

      .fr-display-button {
	  position: fixed;
	  bottom: 3.5rem;
	  right: 2rem;
      }

      @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none) {

	  /* IE10+ specific styles go here */
	  .example-controls {
	      display: none;
	  }
      }
      div.leaflet-control-zoom>a {background-image: none;}
    </style>
    

    <%= yield :custom_css %>

    
    <%= javascript_importmap_tags %>
    <script>
      window['dsfr'] = {
	  //verbose: true//,
	  // production: true,
	  // mode: 'manual',
      };
    </script>
    
  </head>

  <body id="top" class="fr-mb-12w">
    
    
    <script type="module">
      const e="system",t="dark",c="dark",o="data-fr-theme",a="data-fr-scheme",r=`:root[${o}], :root[${a}]`,m=()=>{document.documentElement.setAttribute(o,c),document.documentElement.style.colorScheme="dark"},n=()=>{window.matchMedia("(prefers-color-scheme: dark)").matches&&m()};(()=>{if(document.documentElement.matches(r)){const c=(()=>{try{return"localStorage"in window&&null!==window.localStorage}catch(e){return!1}})()?localStorage.getItem("scheme"):"",o=document.documentElement.getAttribute(a);switch(!0){case c===t:m();break;case c===e:n();break;case o===t:m();break;case o===e:n()}}})();
    </script>



    
    <span id="[url - à modifier]"></span>
    
    <div class="fr-mb-12w">
      <div class="fr-mb-6v">
        <header role="banner" class="fr-header">
          <div class="fr-header__body">
            <div class="fr-container">
              <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
		  
                  <div class="fr-header__brand-top">
		    <a href="<%= root_path %>">
                      <div class="fr-header__logo">
                        <p class="fr-logo">
                          DEAL
                          <br>Martinique
                        </p>
                      </div>
		    </a>
                    <div class="fr-header__navbar">
                      <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-8353" aria-haspopup="menu" id="button-8354" title="Menu">
                        Menu
                      </button>
                    </div>
                  </div>
		  
                  <div class="fr-header__service">
                    <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                      <p class="fr-header__service-title">
                        <%= image_tag "logo.png", alt: "EvalPro+" %>
                      </p>
                    </a>
                    <p class="fr-header__service-tagline">Un prototype de guichet public
		      <br>pour l’Évaluation Environnementale</p>
                  </div>
                </div> <!-- class="fr-header__brand fr-enlarge-link -->
		

		<%= render "layouts/header__tools" %>

		
              </div>
            </div>
          </div>

	  
	  <!-- menu -->
	  <div class="fr-header__menu fr-modal" id="modal-8353" aria-labelledby="button-8354">
	    <div class="fr-container">
    	      <%= render "layouts/menu" %>
	    </div>
	  </div>
	  <!-- menu -->
	  
        </header>


	




	<!-- breadcrumb -->
	<!--
            <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
	      <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-8510">Voir le fil d’Ariane</button>
	      <div class="fr-collapse" id="breadcrumb-8510">
		<ol class="fr-breadcrumb__list">
                  <li>
                    <a class="fr-breadcrumb__link" href="<%= root_path %>">Accueil</a>
                  </li>
                  <li>
                    <a class="fr-breadcrumb__link" href="/segment-1/">Nom de la page</a>
                  </li>
                  <li>
                    <a class="fr-breadcrumb__link" href="/segment-1/segment-2/">Nom de la page</a>
                  </li>
                  <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Page Actuelle</a>
                  </li>
		</ol>
	      </div>
            </nav>
	    -->
	    <!-- end breadcrumb -->
	    





	    
	    
	    <main class="fr-pt-md-8v" role="main" id="content">
	      <div class="fr-container">

		  <%= yield %>
		
	      </div> <!-- end div class="fr-container" -->
	    </main>







	    
            <footer class="fr-footer" role="contentinfo" id="footer-8511">
              <div class="fr-container">
		<div class="fr-footer__body">
		  <div class="fr-footer__brand fr-enlarge-link">
                    <a id="footer-operator" href="/" title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
                      <p class="fr-logo">
			DEAL
			<br>Martinique
                      </p>
                    </a>
		  </div>
		  <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">
		      Projet de maquettage qui a débuté pour visualiser ce que pourrait-être une application
		      valant guichet d’interaction avec l’administration pour un citoyen pétitionnaire
		      portant un projet d’aménagement au titre de l’évaluation environnementale.
		    </p>
                    <ul class="fr-footer__content-list">
                      <li class="fr-footer__content-item">
			<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			   href="https://www.systeme-de-design.gouv.fr/elements-d-interface/">
			  www.systeme-de-design.gouv.fr</a>
                      </li>
                      <li class="fr-footer__content-item">
			<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			   href="https://api.rubyonrails.org">
			  api.rubyonrails.org</a>
                      </li>
                      <li class="fr-footer__content-item">
			<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			   href="https://guides.rubyonrails.org/">
			  guides.rubyonrails.org</a>
                      </li>
		      <li class="fr-footer__content-item">
			<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			   href="https://carmen.developpement-durable.gouv.fr/22/DEAL972_generale.map#">
			  Carmen (carte interactive)</a>
                      </li>
		      <li class="fr-footer__content-item">
			<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			   href="https://files.allostelaban.nohost.me/documents/lbn/carto-jf.html">
			  Inventaire cartographique AE</a>
                      </li>
			  <li class="fr-footer__content-item">
			    <a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			       href="https://evalpro.vercel.app/">
			      https://evalpro.vercel.app/</a>
			  </li>
			  <li class="fr-footer__content-item">
			    <a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			       href="https://beta.gouv.fr/startups/evalpro.html">
			      https://beta.gouv.fr/startups/evalpro.html</a>
			  </li>
		      
		      <!--
			  <li class="fr-footer__content-item">
			    <a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
			       href="https://gitea.allostelaban.nohost.me/">
			      Dépôt sources - git</a>
			  </li>
			  -->
			  <!--
			      <li class="fr-footer__content-item">
				<a id="footer__content-link-8515" class="fr-footer__content-link" target="_blank"
				   href="">
				</a>
			      </li>
			      -->
                    </ul>
		  </div>
		</div>
		<div class="fr-footer__bottom">
		  <ul class="fr-footer__bottom-list">
                    <li class="fr-footer__bottom-item">
                      <a class="fr-footer__bottom-link" id="footer__bottom-link-8516" href="#">Plan du site</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                      <a class="fr-footer__bottom-link" id="footer__bottom-link-8517" href="#">Accessibilité : non/partiellement/totalement conforme</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                      <a class="fr-footer__bottom-link" id="footer__bottom-link-8518" href="#">Mentions légales</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                      <a class="fr-footer__bottom-link" id="footer__bottom-link-8519" href="#">Données personnelles</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                      <a class="fr-footer__bottom-link" id="footer__bottom-link-8520" href="#">Gestion des cookies</a>
                    </li>
		  </ul>
		  <div class="fr-footer__bottom-copy">
                    <p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont
		      proposés sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                    </p>
		  </div>
		</div>
              </div>
            </footer>
      </div>
    </div>
    




    <button class="fr-display-button fr-background-default--grey fr-btn fr-btn--lg fr-icon-theme-fill fr-btn--secondary"
	    aria-controls="fr-theme-modal" data-fr-opened="false" style="z-index: 1600" id="button-8521">
      Label bouton
    </button>




    <dialog id="fr-theme-modal" class="fr-modal" aria-labelledby="fr-theme-modal-title">
      <div class="fr-container fr-container--fluid fr-container-md">
	<div class="fr-grid-row fr-grid-row--center">
	  <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
            <div class="fr-modal__body">
              <div class="fr-modal__header">
		<button class="fr-btn--close fr-btn" aria-controls="fr-theme-modal" id="button-8522" title="Fermer">
		  Fermer
		</button>
              </div>
              <div class="fr-modal__content">
		<h1 id="fr-theme-modal-title" class="fr-modal__title">
		  Paramètres d’affichage
		</h1>
		<div id="fr-display" class="fr-display">
		  <fieldset class="fr-fieldset" id="display-fieldset">
                    <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="display-fieldset-legend">
                      Choisissez un thème pour personnaliser l’apparence du site.
                    </legend>
                    <div class="fr-fieldset__element">
                      <div class="fr-radio-group fr-radio-rich">
			<input value="light" type="radio" id="fr-radios-theme-light" name="fr-radios-theme">
			<label class="fr-label" for="fr-radios-theme-light">
			  Thème clair
			</label>
			<div class="fr-radio-rich__pictogram">
			  <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                            <use class="fr-artwork-decorative" href="<%= asset_path '/assets/artwork/pictograms/environment/sun.svg' %>#artwork-decorative"></use>
                            <use class="fr-artwork-minor" href="<%= asset_path '/assets/artwork/pictograms/environment/sun.svg' %>#artwork-minor"></use>
                            <use class="fr-artwork-major" href="<%= asset_path '/assets/artwork/pictograms/environment/sun.svg' %>#artwork-major"></use>
			  </svg>
			</div>
                      </div>
                    </div>
                    <div class="fr-fieldset__element">
                      <div class="fr-radio-group fr-radio-rich">
			<input value="dark" type="radio" id="fr-radios-theme-dark" name="fr-radios-theme">
			<label class="fr-label" for="fr-radios-theme-dark">
			  Thème sombre
			</label>
			<div class="fr-radio-rich__pictogram">
			  <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                            <use class="fr-artwork-decorative" href="<%= asset_path '/assets/artwork/pictograms/environment/moon.svg' %>#artwork-decorative"></use>
                            <use class="fr-artwork-minor" href="<%= asset_path '/assets/artwork/pictograms/environment/moon.svg' %>#artwork-minor"></use>
                            <use class="fr-artwork-major" href="<%= asset_path '/assets/artwork/pictograms/environment/moon.svg' %>#artwork-major"></use>
			  </svg>
			</div>
                      </div>
                    </div>
                    <div class="fr-fieldset__element">
                      <div class="fr-radio-group fr-radio-rich">
			<input value="system" type="radio" id="fr-radios-theme-system" name="fr-radios-theme">
			<label class="fr-label" for="fr-radios-theme-system">
			  Système
			  <span class="fr-hint-text">Utilise les paramètres système</span>
			</label>
			<div class="fr-radio-rich__pictogram">
			  <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                            <use class="fr-artwork-decorative" href="<%= asset_path '/assets/artwork/pictograms/system/system.svg' %>#artwork-decorative"></use>
                            <use class="fr-artwork-minor" href="<%= asset_path '/assets/artwork/pictograms/system/system.svg' %>#artwork-minor"></use>
                            <use class="fr-artwork-major" href="<%= asset_path '/assets/artwork/pictograms/system/system.svg' %>#artwork-major"></use>
			  </svg>
			</div>
                      </div>
                    </div>
		  </fieldset>
		</div>
              </div>
            </div>
	  </div>
	</div>
      </div>
    </dialog>


    
  </body>

</html>
