

<% content_for :special_link_ref do %>
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<%= stylesheet_link_tag "select2" %>
<% end %>


<% content_for :content do %>
<%= content_for?(:map_content) ? yield(:map_content) : yield %>
<% end %>

<%= render template: "layouts/application" %>
